// app global css in SCSS form
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 8px;
  border-bottom: 5px solid #ffffff;
  border-top: 5px solid #ffffff;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
}
